*{
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav{padding: 0em;}

:root{
    --clr-1: white;
    --clr-2: #1c285a;
    --clr-3: #FFCBCB;
    --clr-4: #102C57;
    --clr-5: #1679AB;
}

.nav-link {
    position: relative;
}
.nav-link.active {
    text-decoration: underline;
}
.navbar {
    background-color: var(--clr-1);
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: var(--clr-3);
}

#intro {
    background-image: url('../img/bg-image.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--clr-1);
}


.profile-pic img {
    border-radius: 100%;
    border: .8rem solid var(--clr-1);
}

.homeBtn {
    display: flex;
}

.btn {
    background-color: var(--clr-5);
    color: var(--clr-1);
}

#aboutme {
    margin: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    align-content: center;
    justify-content: center;
}

#aboutme h1 {
    text-align: center;
    font-weight: bold;
}

#aboutme p {
    font-size: 1.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

#aboutme .row {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
}

#aboutme .col {
    display: flex;
    flex-direction: column;
}


#section-name {
    font-size: 1rem;
    background-color: var(--clr-4);
    color: var(--clr-1);
}

#services {
    margin: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

#services .row {
    display: flex;
    flex-direction: row;
    width: 100%; 
}

#services .col {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#services #section-name p {
    font-size: 1rem;
    background-color: var(--clr-4);
    color: var(--clr-1);
}


#resume {
    margin: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    align-content: center;
    justify-content: center;
}

#resume .row {
    display: flex;
    flex-direction: row;
}

#resume .col {
    display: flex;
    flex-direction: column;
}

#resume #section-name p {
    font-size: 1rem;
    background-color: var(--clr-4);
    color: var(--clr-1);
}

.resume-desc {
    border-left: solid 2px var(--clr-5);
}



#portfolio{
    margin: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    align-content: center;
    justify-content: center;
}

#portfolio #section-name p {
    font-size: 1rem;
    background-color: var(--clr-4);
    color: var(--clr-1);
}

#portfolio .row {
    display: flex;
    flex-direction: row;
}

#portfolio .col {
    display: flex;
    flex-direction: column;
}

.hire-me {
    height: 80vh;
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    align-content: center;
    justify-content: center;
    color: black;
    background-color: var(--clr-3);
}


#contact{
    height: 100vh;
    background-color: var(--clr-2);
    color: var(--clr-1);
    display: flex;
    flex-direction: column;
    align-items: center;    
    align-content: center;
    justify-content: center;
}

#contact-form .row {
    display: flex;
    flex-direction: column;
}

#contact-form .col {
    display: flex;
    flex-direction: column;
}

.footer {
    height: 30vh;
    background-color: rgb(26, 26, 26);
    color: var(--clr-1);
    display: flex;
    flex-direction: column;
    align-items: center;    
    align-content: center;
    justify-content: center;
}